.special .container {
  width: 80%;
  text-align: center;
}
.special-guest {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  padding: 1.2em;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .08);
}

.special-guest:nth-child(2n) {
  flex-direction: row-reverse;
}
.special-guest:nth-child(2n) .special-guest-photo {
  margin-right: 0;
  margin-left: 1em;
}
.special-guest-photo {
  width: 30%;
  max-width: 120px;
  margin-right: 1em;
}
.special-guest-photo img {
  width: 100%;
  border-radius: 50%;
}
.special-guest-content {
  flex: 1;
}
.special-guest-header {
  font-size: 1.2em;
  font-weight: bold;
}
.special-guest-name {
}
.special-guest-role {
  display: inline-block;
  margin-left: .2em;
  font-size: .8em;
  line-height: 1;
  color: #aaa;
}
.special-guest-desc {
  color: #222;
  font-family: sans-serif;
  font-size: .8em;
  margin-top: .8em;
  line-height: 1.2;
}
.special-guest-desc a {
  color: darkblue;
  text-decoration: none;
}
.special-guest hr {
  height: 0;
  border-width: 1px 0 0;
  border-color: #efefef;
  border-style: dashed;
  margin: 1em 0;
}
@media (max-width: 640px) {
  .special-guest {
    padding: 1.2em .8em;
    flex-direction: column !important;
    align-items: center;
  }
  .special-guest-photo {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .special-guest-header {
    text-align: center;
  }
  .special-guest-role {
    display: block;
    margin-left: 0;
  }
  .special-guest-desc {
  }
}
