.toggle-location-button {
  /*position: absolute;*/
  position: fixed;
  /*top: 86vh;*/
  top: 1em;
  /*left: calc(50% + 6em);*/
  right: 1em;
  z-index: 1000;
  border-radius: 4px;
  padding: .6em;
  line-height: 1;
  background-color: #222;
  color: #eceadc;
  font-size: 14px;
  border: 0 none;
  cursor: pointer;
  opacity: .7;
}
@media (max-width: 640px) {
  .toggle-location-button {
    line-height: 1.4;
  }
  .toggle-location-button .br-on-mobile {
    font-size: .8em;
  }
}
